@import 'src/styles/vars';
@import 'src/styles/mixins/media';

@import '../styles';

.pools-table-row {
  position: relative;

  & + & {
    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 50%;

      display: block;

      width: calc(100% - 100px);
      height: 1px;

      background: #eaeaea;

      transform: translateX(-50%);

      @include b(tablet) {
        width: 100%;
      }
    }
  }

  &__content {
    padding: 35px 30px;

    display: grid;
    align-items: center;

    cursor: pointer;
    grid-template-columns: $columns;
    grid-column-gap: 20px;

    @include b(tablet) {
      padding: 20px 20px 20px 10px;
      grid-template-columns: $columns-tablet;
    }
  }

  &__extra-text {
    display: none;
  }

  &__currencies {
    &-item {
      margin-right: 13px;

      width: 42px;
      height: 42px;

      &-image {
        width: inherit;
        height: inherit;
      }
    }
  }

  &__recent-profit {
    @include b(tablet) {
      // span {
      //   color: #000 !important;
      // }
    }

    &-value {
      // white-space: nowrap;
    }
  }

  &__apr {
    @include b(tablet) {
      &_button {
        display: none;
      }
    }
  }

  &__item {
    &--mob {
      display: none;

      transition: 0.4s ease;

      &_active {
        transform: rotate(-180deg);
      }
    }

    &:last-of-type {
      text-align: right;

      @include b(1120) {
        span {
          visibility: hidden;

          width: 0;

          opacity: 0;
        }

        svg {
          margin-left: 0;
        }
      }
    }

    &-img {
      &-info {
        margin-top: -2px;
        margin-left: 9px;
      }
    }
  }

  &__buttons {
    @include b(tablet) {
      grid-row: 1;
    }
  }

  &__details {
    padding: 10px 30px;

    display: grid;
    overflow: hidden;
    align-items: center;
    grid-template-columns: 1fr 3fr;

    @include b(tablet) {
      padding: 8px 10px;
      grid-template-columns: 1fr;
      grid-auto-flow: row dense;
    }

    &-links {
      width: fit-content;

      &-item {
        // width: fit-content;
        margin-bottom: 15px;

        span {
          margin-right: 7px;
        }
      }
    }

    &-info-popover {
      margin-left: 8px;

      width: 20px;
      height: 20px;
    }

    &-box {
      padding: 20px 30px 40px;

      background: #f8f5fe;
      border-radius: 12px;

      & + & {
        margin-left: 10px;
      }

      &-start-staking-button {
        @include b(tablet) {
          padding: 17px 0;

          width: 100%;
        }
      }

      @include b(tablet) {
        padding: 20px 10px;

        text-align: center;

        & + & {
          margin: 10px 0;
        }
      }
    }

    &-title {
      margin-bottom: 13px;
    }

    &-staked-values-group {
      margin-right: 10px;
    }

    &-staked-value {
      margin-bottom: 5px;
    }
  }

  .show-enter {
    padding: 0 30px;

    max-height: 0;
  }

  .show-enter-active {
    padding: 10px 30px;

    max-height: 192px;

    transition: padding 300ms, max-height 300ms;
  }

  .show-exit {
    padding: 10px 30px;

    max-height: 192px;
  }

  .show-exit-active {
    padding: 0 30px;

    max-height: 0;

    transition: padding 300ms, max-height 300ms;
  }
}
