@import '/src/styles/index';

.bot {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;

  padding: 27px 20px;

  min-width: 480px;

  max-width: 480px;
  max-height: 78px;

  background: rgba(10, 0, 44, 0.9);
  border-radius: 10px 10px 0 0;
  @include flex(row, center, center, nowrap);

  @include b(tablet) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    border-radius: none;
  }

  img {
    margin-right: 10px;
  }

  &_price {
    margin-right: 10px;
  }

  &_cap {
    margin-right: 10px;

    width: 33px;
    height: 33px;
  }

  &_scaner {
    margin-right: 10px;

    width: 29px;
    height: 29px;
  }

  .btn {
    font-size: 16px;

    font-weight: 400;
    line-height: 26px;
    white-space: nowrap;
    margin: 0 0 0 10px;

    cursor: pointer;

    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;

    img {
      margin-left: 5px;
    }

    @include b(tablet) {
      span {
        width: 135px !important;
        height: 30px !important;
      }
    }

    &HoverDown {
      padding: 0;
      background: transparent;

      &:hover {
        span {
          background: #6e1989;
          transform: translateY(4px);
          box-shadow: none
        }
      }

      &.isOpen {
        background: transparent !important;

        span {
          background: #780c8e;
          box-shadow: 0 5px 0 #780c8e;
        }
      }

      span {
        @include flex(row, center, center, nowrap);
        padding: 20px;

        width: fit-content;
        max-width: 145px;
        height: fit-content;
        height: 45px;

        transition: all 0.3s ease-in-out;

        border-radius: 12px;
        border-radius: 11px;
        box-shadow: 0 5px 0 #6e1989;

        background: #c630f6;
      }
    }
  }

  .isOpen {
    background: #780c8e !important;
  }

  .rotate {
    transform: rotate(180deg);
  }
}

.dropDown {
  padding: 10px;

  width: 195px;
  height: 60px;

  background: rgba(10, 0, 44, 0.9);
  border-radius: 10px;
  @include flex(row, center, center, nowrap);
}