@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.farms-preview {
  overflow: hidden;

  border-radius: 12px;
  padding: 41px 42px 39px;

  background-color: $bg-purple;
  background-image: url(../../../../assets/img/sections/farms/farms.png);
  background-size: 100%;

  @include b(tablet) {
    padding: 40px 20px 19px 42px;

    display: block !important;
  }
  @include b(desktop) {
    background-repeat: no-repeat;
    background-size: auto;
  }
  &__box {
    @include b(tablet) {
      margin-bottom: 20px;
      padding: 0 32px;
    }
  }

  &__title {
    color: #fff;
    @include b(mobile) {
      font-size: 40px !important;
    }
  }

  &__subtitle {
    color: #fff;
    margin-top: 12px;
  }

  &__auc {
    display: none;
    padding: 21px 26px;
    background: $bg-purple;
    @include b(mobile) {
      padding: 23px 10px;
      display: block;
    }

    &-img {
      margin-right: 14px;
    }
    &-btn {
      margin-left: 58px;
    }
  }

  &__details {
    margin-top: 15px;
    margin-left: 58px;
    @include b(mobile) {
      margin-left: 0;
    }
  }
}
