@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.farms-preview {
  padding: 41px 42px 39px;

  overflow: hidden;

  background-image: url('../../../../assets/img/sections/farms/farms_bg.png');
  background-size: cover;

  border-radius: 12px;

  @include b(mobile) {
    background-image: url('../../../../assets/img/sections/farms/farms_bg_sm.png');
    background-size: cover;
  }

  @include b(tablet) {
    padding: 40px 20px 19px 42px;

    display: block !important;
  }

  &__box {
    @include b(tablet) {
      margin-bottom: 20px;
      padding: 0 32px;
    }
  }

  &__title {
    color: #fff;

    @include b(mobile) {
      font-size: 40px !important;
    }
  }

  &__descr {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
  }

  &__subtitle {
    margin-top: 12px;

    color: #fff;
  }

  &__auc {
    padding: 21px 26px;

    display: none;

    background: $bg-purple;

    @include b(mobile) {
      padding: 23px 10px;

      display: block;
    }

    &-img {
      margin-right: 14px;
    }

    &-btn {
      margin-left: 58px;
    }
  }

  &__details {
    margin-top: 15px;
    margin-left: 58px;

    @include b(mobile) {
      margin-left: 0;
    }
  }
}