@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.farms-preview {
  overflow: hidden;

  border-radius: 40px;

  &__box {
    padding: 40px;

    background-color: $yellow-d;
    background-image: url(../../../../assets/img/sections/farms/bg.jpg);
    background-position: 0 0;
    background-size: 100% 100%;
    border-radius: 0 0 40px 40px;

    @include b(mobile) {
      padding: 40px 10px 20px 40px;

      background-image: url(../../../../assets/img/sections/farms/bg-1.svg);
    }

    &--info {
      @include b(mobile) {
        button {
          margin-top: 15px;
        }
      }
    }
  }

  &__title {
    @include b(mobile) {
      font-size: 40px !important;
    }
  }

  &__sibtitle {
    margin-top: 16px;
  }

  &__auc {
    padding: 21px 26px;
    @include b(mobile) {
      padding: 23px 10px;
    }

    &-img {
      margin-right: 14px;
    }
  }

  &__details {
    margin-top: 15px;
    margin-left: 58px;
    @include b(mobile) {
      margin-left: 0;
    }
  }

  .show-enter {
    margin-top: 0;

    max-height: 0;

    opacity: 0;
  }

  .show-enter-active {
    margin-top: 15px;

    max-height: 45px;

    opacity: 1;

    transition: margin-top 300ms, max-height 300ms, opacity 500ms;
  }

  .show-exit {
    margin-top: 15px;

    max-height: 45px;

    opacity: 1;
  }

  .show-exit-active {
    margin-top: 0;

    max-height: 0;

    opacity: 0;

    transition: margin-top 300ms, max-height 300ms, opacity 300ms;
  }
}
