@import './app/config/config.scss';
@import './app/components/modal/style.scss';
.App-bridge{
    padding-top: 90px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #060338 -6.71%, rgba(6, 3, 56, 0) 80.09%) top/100% 148px
      no-repeat,
    url(../../assets/img/sections/home/features-bg-1.png) center/100% auto no-repeat,
    url(../../assets/img/sections/home/partners-bg.png) bottom/contain no-repeat, #110847 center;
    
}
.wrapper-bridge{
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1300px){
        margin-left: 240px;
    }
    @include _1024{
        margin-left: 0;
    }
    @include _900{
        flex-direction: column;
    }
    
}