@import 'src/styles/vars';

.ant-popover-content {
  margin-top: 10px;
}

.ant-popover-inner-content {
  padding: 20px;
}

.ant-popover {
  max-width: 500px;

  &-arrow {
    margin-top: 10px;

    &-content {
      background: $bg-purple !important;
    }
  }

  &-inner {
    background: $bg-purple !important;

    &-content {
      color: $text-main-color !important;
    }
  }
}
