@import '../../../config/config.scss';

.form-note{
    display: flex;
    align-items: center;
    margin-bottom: $note_mb;
    &__img{
        margin-right: $note_mr;
        width: $note_width;
        height: $note_width;
    }
    &__img path{
        fill: $note_fill;
    }
    &__text{
        font-size: $note_size;
        line-height: $note_height;
        font-weight: $note_weight;
        color: $note_font_color;
    }
}
