@import '@/styles/vars';

.m-select-token {
  &__content {
    padding: 20px;
  }

  &__item {
    cursor: pointer;

    & + & {
      margin-top: 25px;
    }

    img {
      margin-right: 11px;

      width: 100%;
      max-width: 40px;
      max-height: 40px;
    }
  }

  &__search {
    margin: 25px 0 30px;
    padding-bottom: 14px;

    border-bottom: 1px solid $bg-divider;
  }

  &__manage {
    margin-top: 30px;
    padding-top: 20px;

    border-top: 1px solid #e0e0e0;
  }
}
