@import 'src/styles/vars';

.m-select-token {
  &__content {
    padding: 20px;

    color: #fff;

    background: $dark-grey;
  }

  &__item {
    cursor: pointer;

    & + & {
      margin-top: 25px;
    }

    img {
      margin-right: 11px;

      width: 100%;
      max-width: 40px;
      max-height: 40px;
    }
  }

  &__search {
    margin: 25px 0 30px;
    padding-bottom: 10px;

    color: #fff !important;

    border-bottom: 1px solid #685096;
  }

  &__manage {
    margin-top: 30px;
    padding-top: 20px;

    border-top: 1px solid #685096;
  }
}
