@import 'src/styles/vars';
@import 'src/styles/mixins/media';
@import 'src/styles/mixins/main';

$desktop-menu-width: 240px;
$default-horizontal-padding: 48px;
$default-vertical-padding: 22px;

.spinner {
  @include flex(row, center, center);
}

.pools {
  z-index: 10;

  background: linear-gradient(180deg, #060338 -6.71%, rgba(6, 3, 56, 0) 80.09%) top/100% 148px
      no-repeat,
    url(../../assets/img/sections/home/features-bg-1.png) center/100% auto no-repeat,
    url(../../assets/img/sections/home/partners-bg.png) bottom/contain no-repeat, #110847 center;
  padding: {
    top: $default-vertical-padding;
    right: $default-horizontal-padding;
    left: $default-horizontal-padding + $desktop-menu-width;
    bottom: $default-vertical-padding;
  }

  &__i-contr {
    @include b(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__i-contr-prefix {
    @include b(tablet) {
      margin-bottom: 5px;
    }
  }

  &__i-contr-button {
    padding: 5px;
  }

  &__i-contr-icon {
    stroke: $gray;

    &_active {
      stroke: $yellow;
    }
  }

  &__content {
    margin-top: 40px;

    &-card-view {
      @include flex(row, flex-start, space-between, wrap);
      @include b(mobile) {
        flex-direction: column-reverse;
      }
      @include b(tablet) {
        align-items: normal;
      }
      //display: grid;
      //grid-template-columns: repeat(3, 1fr);
      //
      //@include b(desktop) {
      //  grid-template-columns: repeat(2, 1fr);
      //}
      //
      //@include b(mobile) {
      //  grid-template-columns: repeat(1, 1fr);
      //}
      //grid-column-gap: 23px;
      //grid-row-gap: 30px;
    }
  }
  @include b(tablet) {
    z-index: 100;

    padding-right: 0;
    padding-left: 0;
  }
}
