@import 'src/styles/vars';
@import 'src/styles/mixins/media';

$default-margin: 15px;

.dao-preview {
  background-color: $yellow-d;
  border-radius: 40px;
  padding: 42px 30px 30px 42px;
  background-image: url(~@/assets/img/sections/dao/bg.jpg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;

  &__footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include b(extramobile) {
      flex-direction: column;
    }
  }

  &__subtitle {
    max-width: 600px;
    margin-top: $default-margin;
  }

  &__button {
    margin-top: $default-margin;
  }
}
