@import '/src/styles/index.scss';

.footer_wrapper {
  position: relative;
  z-index: 10;

  padding: 63px 10px 67px;

  @include b('tablet') {
    padding: 63px 10px 100px;
  }

  @include b (mobile) {
    padding: 63px 10px 130px;
  }

  overflow: hidden;

  width: 100%;

  background: $bg-footer;

  .footer {
    position: relative;
    z-index: 10;
    @include flex(column, center, center);

    @include b(mobile) {
      a {
        color: #fff;
        width: 30px;

        svg {
          width: 100%;
          height: 100%;

          g {
            opacity: 1;
          }
        }
      }
    }
  }

  .logo {
    margin-bottom: 47px;

    @include flex(row, center, flex-start, nowrap);

    @include b(mobile) {
      margin-bottom: 20px;
    }

    img {
      width: 351px;

      @include b(tablet) {
        width: 217px;
      }
    }
  }

  .links {
    @include flex(row, normal, normal, nowrap);
    max-width: 450px;

    @media (min-width:1921px) {
      max-width: 500px;
    }

    @include b(mobile) {
      width: calc(100% - 30px);
    }

    .link_block {
      @include flex(column, flex-start);

      @include b(tablet) {
        align-items: center;
      }

      @include b(mobile) {
        width: 100%;
        width: calc(100% - 17px);
      }

      &:nth-of-type(2) {
        margin-right: 29px;
        margin-left: 60px;

        @include b(tablet) {
          margin: 0 25px;
        }

        @media (max-width:375px) {
          margin: 0 20px;
        }

        @media (max-width:360px) {
          margin: 0 15px;
        }
      }

      .link {
        margin-bottom: 13px;

        white-space: nowrap;

        &:last-of-type {
          margin-bottom: 0;
        }

        @media (min-width:1921px) {
          font-size: 22px;
          line-height: 24px;
        }

        @include b(tablet) {
          // font-size: 13px;
          // line-height: 16px;
        }

        @include b(mobile) {
          font-size: 16px;
          line-height: 1.3;
          white-space: normal;
          text-align: center;
          width: 100%;
          word-wrap: break-word;
        }

        @media (max-width:360px) {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }

  .join {
    &_wrapper {
      margin-top: 52px;
      margin-bottom: 59px;
      @include flex(row, center, center, nowrap);
      gap: 30px;

      @include b(preTablet) {
        @include flex(column, center, center, nowrap);
      }

      @include b(mobile) {
        margin-top: 50px;
        margin-bottom: 40px;
        gap: 20px;
      }

      .title {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;

        @media (min-width:1921px) {
          font-size: 28px;
          line-height: 32px;
        }
      }

      .subtitle {
        margin-top: 6px;
        margin-bottom: 17px;

        font-size: 14px;
        line-height: 17px;

        opacity: 0.5;

        @media (min-width:1921px) {
          font-size: 18px;
          line-height: 21px;
        }
      }

      .socials {
        @include flex(row, flex-end, space-between, nowrap);
        gap: 10px;

        gap: 0;

        @include b(mobile) {
          // @include flex(row, flex-end, center, wrap);
          @include flex(row, center, center, wrap);
          gap: 0;
        }

        @media (max-width: 380px) {
          // gap: 5px;

          svg {
            // width: 25px;
          }
        }

        a {
          width: 36px;
          height: 36px;

          width: 100%;
          width: auto;
          max-width: 28px;
          height: 28px;
          margin: 14px 7px 0;

          @include b(mobile) {
            width: 100%;
            width: auto;
            max-width: 28px;
            height: 28px;
            margin: 12px 6px 0;
          }

          &:hover {
            img {
              &:first-child {
                display: none;
              }

              &:last-child {
                display: block;
              }
            }
          }

          &.smaller {
            img {
              height: 33px;

              width: 100%;
              width: auto;
              // max-height: 28px;
              height: 25px;

              @include b(mobile) {
                width: 100%;
                width: auto;
                // max-height: 28px;
                height: 25px;
              }
            }

            &Mobile {
              @include b(mobile) {
                width: 100%;
                width: auto;
                // max-height: 28px;
                // width: 25px;
                // height: 25px;
              }
            }
          }

          img {
            width: 36px;
            height: 36px;

            &:last-child {
              display: none;
            }

            opacity: 0.5;

            width: 100%;
            height: 100%;
            opacity: 1;

            @include b(mobile) {
              width: 100%;
              height: 100%;
              opacity: 1;
            }

            @media (max-width: 380px) {
              width: 30px;
            }
          }
        }
      }

      .controls {
        @include flex(row, center, space-between, nowrap);
        gap: 10px;

        @include b(tablet) {
          @include flex(row, center, center, nowrap);
          gap: 2px;
        }

        @include b(mobile) {
          width: 100%;
        }

        .joinBtn {
          width: 120px;
          height: 40px;

          font-weight: 400;

          @include b(mobile) {
            // width: fit-content;
            width: 120px;
            margin: 0 0 0 10px;
            flex: 0 0 auto;
          }
        }

        .input {
          padding: 0 10px;

          width: 311px;
          height: 43px;

          color: rgba(255, 255, 255, 1);
          background: rgba(24, 13, 65, 1);
          border-radius: 10px;

          @include b(mobile) {
            width: 100%;
            max-width: 310px;
            line-height: 44px;
            height: 44px;
            text-align: center;
            font-size: 16px;

            &::placeholder {
              font-size: 16px;
            }
          }

          &:hover,
          &:focus {
            // box-shadow: 0 0 10px 3px rgb(255, 255, 255);
          }
        }
      }
    }

    &_left {
      @include flex(column, center, center, nowrap);

      padding: 0 15px 0 0;

      @include b(mobile) {
        // max-width: 290px;
        padding: 0;
        max-width: 100%;

        text-align: center;
      }

      position: relative;

      &::after {
        content: '';

        position: absolute;
        top: 0;
        right: -20px;

        width: 1px;
        height: 106px;

        background: rgba(255, 255, 255, 0.5);

        @include b(preTablet) {
          display: none;
        }
      }
    }

    &_right {
      @include flex(column, center, center, nowrap);
      padding: 0 0 0 30px;

      @include b(mobile) {
        padding: 0;
      }
    }
  }

  .policies {
    margin-top: 50px;

    :first-child {
      margin-right: 24px;
    }

    @media (min-width:1921px) {
      font-size: 20px;
      line-height: 24px;
    }

    @include b(mobile) {
      margin-top: 40px;
      font-size: 16px;
      line-height: 1.3;
    }
  }

  .copyright {
    margin-top: 20px;

    color: rgba(244, 244, 244, 0.5);

    @media (min-width:1921px) {
      font-size: 20px;
      line-height: 24px;
    }

    @include b(mobile) {
      font-size: 14px;
      opacity: 0.2;
      color: #fff;
    }
  }

  .bg {
    position: absolute;
    z-index: 0;
    left: calc(50% - 437px);
    bottom: -568px;

    width: 875px;
    height: 875px;

    background: rgba(215, 21, 255, 0.2);
    filter: blur(250px);

    @include b(tablet) {
      left: calc(50% - 98px);
      bottom: -49px;

      width: 196px;
      height: 196px;
      filter: blur(100px);
    }

    @include b(mobile) {
      bottom: -120px;
      background: rgba(215, 21, 255, 1.0);
      width: 110px;
      left: calc(50% - 55px);
    }
  }
}