@import 'src/styles/vars';

.slider {
  height: fit-content;

  &:hover {
    .ant-slider-rail,
    .ant-slider-track {
      background: $black;
    }
  }

  .ant-slider-rail,
  .ant-slider-track {
    height: 1px;

    background: $black;
  }

  .ant-slider-handle {
    margin-top: -16px;

    width: 32px;
    height: 31px;

    background: $yellow;
    border: none;

    &:not(:active) {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    }
  }
}
