@import '../../../config/config.scss';

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.progress-point{
    max-width: $progress_point_width;
    margin-bottom: $progress_point_mb;
    &__wrapper{
        display: flex;
        align-items: center;
        margin-bottom: $progress_point_line_mb;
    }
    &__circle{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        height: $progress_circle_size;
        width: $progress_circle_size;
        margin-right: $progress_circle_mr;
        border-radius: 50%;
        border: $progress_circle_border;
        font-size: $progress_circle_text_size;
        color: $progress_circle_text_color;
        background: $porgress_circle_bg;
    }
    &__text{
        font-size: $progress_text_size;
        line-height: $progress_text_height;
        color: $progress_text_color;
    }
    &__line{
        display: inline-block;
        height: 15px;
        width: 17px;
        border-right: 2px solid $progress_point_line_color_inactive;
        transition: all 0.7s;
    }
    &__done{
        display: none;
    }
    &_done{
        .progress-point{
            &__circle{
                background-color: $main_color;
                animation: fade-in 0.7s forwards;
            }
            &__done{
                display: block;
                animation: fade-in 0.7s forwards;
                opacity: 1;
            }
            &__number{
                display: none;
            }
            &__line{
                border-right: 2px solid $progress_point_line_color;
            }
        }
    }
}
