@import 'src/styles/vars';

.teams-preview {
  position: relative;

  padding: 40px 47px 55px;

  background-color: $yellow-d;
  background-image: url(../../../../assets/img/sections/teams/bg.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 100% 100%;
  border-radius: 40px;

  &__subtitle {
    margin-top: 15px;

    max-width: 400px;
  }
}
