@import '../../config/config';

.transaction {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $transaction_mt;
  margin-bottom: $transaction_mb;
  &__title {
    margin-bottom: $transaction_title_mb;
    font-size: $transaction_title_size;
    font-weight: $transaction_title_weight;
    text-transform: uppercase;
    color: $title_all_color;
  }
  &__container {
    width: 100%;
    max-width: $transaction_container_max_width;
    padding: $transaction_container_padding;
    border-radius: $transaction_container_border_radius;
    box-shadow: $transaction_container_box_shadow;
    transition: .5s;
    background: $transaction_container_bg;
    &:hover {
      box-shadow: $transaction_container_box_shadow_hover;
    }
  }
  &__text {

  }
  &__empty{
    font-size: 20px;
    text-align: center;
    padding: 50px;
    color: $transaction_status_text_color;
  }
}
