@import "../../config/config.scss";

.modal{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: $modal_padding;
    border-radius: $modal_border_radius;
    z-index: 11;
    background: $modal_bg;
    color: $modal_color;
    &__overlay{
        // display: none;
        display: flex;
        visibility: hidden;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000000b4;
        z-index: 9;
        opacity: 0;
        transition: all 0.5s;
        &_oppened{
            visibility: visible;
            opacity: 1;
        }
    }
    &__title{
        margin-bottom: $modal_title_mb;
        font-size: $modal_title_size;
        font-weight: $modal_title_weight;
    }
    &__text{
        font-size: $modal_size;   
    }
    &__btn{
        min-width: 300px;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 12px;
        height: 12px;
        cursor: pointer;
    }
    &-alert{
        &__text{
            padding: $modal_padding + 10px;
            font-size: 20px;
        }
        &__buttons{
            display: flex;
            justify-content: space-around;
        }
    }
    
}