@import 'src/styles/mixins/media';

.dao-list {
  &__list-wrapper {
    padding: 60px;

    @include b(mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__list-skeleton-loader {
    width: 100%;

    border-radius: 20px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
