@import '@/styles/vars';
@import '@/styles/mixins/media';

.modal {
  padding-bottom: 0;

  overflow: hidden;

  color: $text-main-color;
  border-radius: 12px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  @include b(extramobile) {
    width: calc(100% - 20px) !important;
  }

  .ant-modal-close {
    top: 5px;
    right: 5px;

    &-x {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .ant-modal-content {
    background: $bg-dop;
  }

  .ant-modal-body {
    padding: 0;
  }
}
