.modal {
  padding-bottom: 0;

  overflow: hidden;

  border-radius: 20px;
  box-shadow: 0 12px 40px rgba(85, 32, 142, 0.25);

  .ant-modal-close {
    top: 5px;
    right: 5px;

    &-x {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .ant-modal-body {
    padding: 0;
  }
}
