@import 'src/styles/vars';
.teams-card {
  padding: 35px 25px 35px 20px;
  & + & {
    margin-top: 40px;
  }
  &__numb {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin-right: 35px;
    border: 2px solid $black;
    &.active {
      background: $black;
      color: white;
      box-shadow: $shadow;
    }
  }
  &__details {
    max-width: 515px;
    margin: 10px 0 13px;
  }
  &__elem {
    & + & {
      margin-left: 50px;
    }
    img {
      margin-right: 10px;
    }
  }
  &__img {
    margin-left: 35px;
    width: 143px;
    height: 143px;
    img {
      max-width: 100%;
    }
  }
}
