@import "../../config/config";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $footer_mb;
  &__icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: $footer_icons_mb
  }
  &__link{
    margin-right: $footer_icon_mr;
    &:first-child {
      margin-left: $footer_icon_fc_ml;
    }
  }
  &__icon {
    height: $footer_icon_height;
    transition: $footer_icon_transition;
    cursor: pointer;
    &:hover {
      transform: $footer_icon_hover_transform;
    }
  }
  &__copyright {
    color: $footer_copyright_color;
    font-size: $footer_copyright_size;
    opacity: $footer_copyright_opacity;
  }
}
