.m-import-tokens {
  &__content {
    padding: 20px 20px 30px;
  }
  &__title {
    width: fit-content;
    img {
      transform: rotate(90deg);
      width: 12px;
      margin-right: 12px;
    }
  }
  &__text {
    padding: 20px;
    background: linear-gradient(0deg, #fff2c6, #fff2c6);
    border-radius: 30px;
    margin-top: 25px;
    p + p {
      margin-top: 20px;
    }
  }
  &__alert {
    color: #c52727;
    padding: 12px 16px;
    border: 1px solid #c52727;
    border-radius: 30px;
    margin: 15px 0px 20px;
    img {
      width: 19px;
      margin-right: 20px;
    }
  }
  &__token {
    &-address {
      max-width: 220px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      white-space: nowrap;
    }
    &-name {
      margin-bottom: 6px;
    }
    &-link {
      span {
        margin-right: 8px;
        display: block;
      }
    }
  }
  &__switch {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    span {
      display: block;
      margin-left: 10px;
    }
  }
  &__btn {
    width: 100%;
    margin-top: 30px;
  }
}
