@import 'src/styles/vars';
.search {
  &__img {
    margin-right: 12px;
    cursor: pointer;
    margin-bottom: -3px;
  }
  &-gray {
    background: $gray-l;
    border: 1px solid rgba(black, 0.1);
    border-radius: 12px;
    padding: 14px;
  }
}
