@import 'src/styles/vars';

.search {
  &__img {
    margin-right: 12px;
    margin-bottom: -3px;

    cursor: pointer;
  }

  &-gray {
    padding: 14px;

    background: $gray-l;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  input::placeholder {
    font-weight: 400;

    color: #fff;
    opacity: 0.5;
  }
}
