@import 'src/styles/vars';

.switch {
  width: 38px;
  min-width: unset;
  height: 21px;

  background: #dedede;
  border: 0.8px solid transparent;

  &:focus {
    box-shadow: none;
  }

  & + * {
    margin-left: 10px;
  }

  .ant-switch {
    &-handle {
      top: -1px;
      left: -1px;

      width: 21px;
      height: 21px;

      background: #c7c7c7;
      border: 0.8px solid transparent;
      border-radius: 50%;

      &::before {
        background: #c7c7c7;
        border-radius: 50%;
      }
    }
  }

  &.ant-switch {
    &-checked {
      background: $cold-blue;
      border-color: $yellow;
    }

    &-checked .ant-switch-handle {
      left: calc(100% - 21px + 1px) !important;

      border-color: $yellow;

      &::before {
        background: #fff;
      }
    }
  }

  &-purple {
    &.ant-switch {
      &-checked {
        background: $cold-blue;
        border-color: transparent;
      }

      &-checked .ant-switch-handle {
        left: calc(100% - 21px + 1px) !important;

        border-color: #fff;

        &::before {
          background: #fff;
        }
      }
    }
  }

  &-white-purple {
    &.ant-switch {
      &-checked {
        background: #fff;
        border-color: transparent;
      }

      &-checked .ant-switch-handle {
        left: calc(100% - 21px + 1px) !important;

        border-color: $yellow;

        &::before {
          background: $yellow;
        }
      }
    }
  }

  &-bg {
    width: 61px;
    height: 35px;

    .ant-switch {
      &-handle {
        top: 6px;
        left: 5px;
      }
    }

    &.ant-switch {
      &-checked .ant-switch-handle {
        left: calc(100% - 21px - 5px) !important;
      }
    }
  }
}
