@import 'src/styles/vars';

.switch {
  width: 38px;
  min-width: unset;
  padding: 4px 6px;
  //height: 21px;
  top: 4px;

  background: transparent;
  border: 3px solid $bg-btn;

  &:focus {
    box-shadow: none;
  }

  & + * {
    margin-left: 10px;
  }

  .ant-switch {
    &-handle {
      width: 21px;
      height: 21px;

      border: 0.8px solid transparent;
      border-radius: 50%;

      &::before {
        background: $text-main-color;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.ant-switch {
    &-checked {
      background: $bg-btn;
      border-color: $bg-btn;
    }

    &-checked .ant-switch-handle {
      left: calc(100% - 21px + 1px) !important;

      border-color: $yellow;

      &::before {
        background: #fff;
      }
    }
  }

  &-purple {
    &.ant-switch {
      &-checked {
        background: $bg-btn;
      }

      &-checked .ant-switch-handle {
        left: calc(100% - 21px + 1px) !important;

        border-color: $bg-btn;

        &::before {
          background: $text-main-color;
        }
      }
    }
  }

  &-white-purple {
    &.ant-switch {
      &-checked {
        background: #fff;
        border-color: transparent;
      }

      &-checked .ant-switch-handle {
        left: calc(100% - 21px + 1px) !important;

        border-color: $yellow;

        &::before {
          background: $yellow;
        }
      }
    }
  }

  &-bg {
    width: 61px;
    height: 35px;

    .ant-switch {
      &-handle {
        top: 4px;
        left: 5px;
      }
    }

    &.ant-switch {
      &-checked .ant-switch-handle {
        left: calc(100% - 21px - 5px) !important;
      }
    }
  }

  &-sm {
    top: 0;
    height: 21px;
    .ant-switch {
      &-handle {
        border: none !important;
        top: -3px;
        left: -3px;
      }
    }
    &.ant-switch {
      &-checked {
        .ant-switch-handle {
          //top: 0;
          left: calc(100% - 18px) !important;
        }
        background: $bg-accent-gradient;
        background-origin: border-box;
        border: 3px solid transparent;
      }
    }
  }
}
