@import 'src/styles/vars';
@import 'src/styles/mixins/media';
@import 'src/styles/mixins/main';

$bg-m1: linear-gradient(98.94deg, #1D1135 -22.87%, #3B2A5E 94.67%);
$bg-m3: linear-gradient(98.94deg, #533292 -22.87%, #3E2177 94.67%);
$bg-m6: linear-gradient(180deg, #A62A96 0%, #440F3D 100%);
$bg-m12: linear-gradient(180deg, #7649FE 0%, #3D2094 100%);

.stake-card {
  width: 260px;
  margin-bottom: 10px;
  @include b(mobile) {
    width: 100%;
    padding-bottom: 30px;
  }
  border-radius: 20px;
  padding: 30px 35px 40px;
  @include flex(column, center);

  &.m1 {
    background: $bg-m1;
  }
  &.m3 {
    background: $bg-m3;
  }
  &.m6 {
    background: $bg-m6;
  }
  &.m12 {
    background: $bg-m12;
  }

  &__lock {
    margin-bottom: 11px;
  }

  &__percent-wrapper {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    border-top: 1px solid rgba(255,255,255, 0.2);
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    @include b(mobile) {
      padding: 20px 0 20px !important;
    }

    .percent {
      color: white;
      margin-bottom: 10px;
      font-weight: bold;
      &-token {
        opacity: 0.5;
      }
    }

    &.m1 {
      padding: 25px 0 50px;
      .percent {
        font-size: 40px;
        line-height: 50px;
      }
    }
    &.m3 {
      padding: 36px 0 46px;
      .percent {
        font-size: 50px;
        line-height: 62px;
      }
    }
    &.m6 {
      padding: 41px 0 49px;
      .percent {
        font-size: 60px;
        line-height: 75px;
      }
    }
    &.m12 {
      padding: 37px 0 60px;
      .percent {
        font-size: 70px;
        line-height: 87px;
      }
    }
  }

  &__btn {
    margin: 10px 0 30px;
    &.m1 {
      &.ant-btn {
        color: $bg-m1;
      }
    }
    &.m3 {
      &.ant-btn {
        color: $bg-divider;
      }
    }
    &.m6 {
      &.ant-btn {
        color: $bg-purple;
      }
    }
    &.m12 {
      &.ant-btn {
        color: $bg-purple;
      }
    }
  }
}
