@import '../../../config/config.scss';

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes go-in {
  from {
    transform: translateX(calc(100% + 16px));
    opacity: 0;
  }
  50%{
      opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes go-out {
    from {
        transform: translateX(0);
        opacity: 1;   
    }
    50%{
        opacity: 0.3;
    }
    to {
        transform: translateX(calc(100% + 16px));
        opacity: 0;
    }
  }

@keyframes go-in-out-mobile {
  from {
    opacity: 0;
  }
  50%{
      opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}


.popup{
    position: relative;
    border-radius: $popup_note_border_radius;
    background-color: $popup_note_bg;
    box-shadow: $popup_note_box_shadow;
    overflow: hidden;
    margin-bottom: 10px;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 9;
        background-color: $note_color;
        animation: grow 3s 1s forwards linear;
    }
    @include _900{
        width: 100%;
        animation: go-in-out-mobile 0.6s forwards linear, go-in-out-mobile 0.6s 11s reverse forwards linear;
    }
    &_closed{
        animation: go-out 0.6s forwards linear;
    }
    &_oppened{
        animation: go-in 0.6s forwards linear;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: $popup_note_padding;
        border: 2px solid $popup_note_border;
        border-radius: $popup_note_border_radius;
        overflow: hidden;
        z-index: 10;
    }
    &__text{
        margin: $popup_note_text_m;
        font-size: $popup_note_size;
        font-weight: $popup_note_weight;
        line-height: $popup_note_height;
        color: $popup_note_color;
    }
    &__icon{
        width: $popup_note_info_width;
        height: $popup_note_info_width;
        position: relative;
        z-index: 8;
        &::after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          z-index: 9;
          background-color: $light_color;
          animation: grow 3s 1s forwards linear;
      }
    }
    &__close{
        display: flex;
        align-items: center;
        justify-content: center;
        width: $popup_note_close_width;
        height: $popup_note_close_width;
        border-radius: 50%;
        color: $popup_note_close_color;
        background-color: transparent;
        border: 1px solid $popup_note_close_color;
        span{
            display: inline-block;
            font-size: 12px;
            min-width: 13px;
            line-height: 1;
        }
    }
}