$text-main-color: #f4f4f4;
$gray-2: rgba(#f4f4f4, 0.6);
$green: #00aa59;
$white: #fff;

$accent-gradient: linear-gradient(90deg, #d715ff 0.34%, #1a26ff 100.02%);

$bg-white: #f4f4f4;
$bg-purple: #7649fe;
$bg-dop: #1f1645;
$bg-farms: #1d1135;
$bg-farms-gradient: linear-gradient(98.94deg, #2f2542 -22.87%, #1d1135 94.67%);
$bg-main-color: linear-gradient(133.45deg, #622883 -7.75%, #070d62 89.89%);
$bg-sidebar-color: linear-gradient(159.02deg, #300a36 20.74%, #1c0fc6 77.56%, #0511ec 98.67%);
$bg-sidebar-menu: linear-gradient(90.99deg, #25144c 0.33%, #1d1135 87.24%);
$bg-accent-gradient: linear-gradient(179.58deg, #d715ff 6.77%, #1a26ff 113.25%);
$bg-trade-box: linear-gradient(159.55deg, #1d1238 10.58%, #581368 56.54%, #12168c 98.7%);
$bg-divider: #685096;
$bg-table-divider: #b8b8b8;
$bg-btn: #7649fe;
$bg-time-selector: #170f39;
$bg-switch: #2f2542;

$yellow: #fc0;
$yellow-d: #ffeeb0;
$yellow-s-l: #f4f0fb;
$yellow-l: #fffae8;
$orange: #ffa237;
$gray-3: #c1c1c1;
$gray-l: rgba(#c1c1c1, 0.1);
$gray-l-2: rgba(0, 0, 0, 0.3);

$gray-4: #585858;

$green1: #19a04f;
$blue: #32afe3;
$blue-d: #5e8dec;
$red: #ff4d4f;
$black: #222;
$gray: rgba($black, 0.5);

$bg-gradient: linear-gradient(98.94deg, #ffd335 -22.87%, #f9f9f9 94.67%);
$shadow: 0 12px 40px rgba(0, 0, 0, 0.1);

$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;
