$yellow: #fc0;
$yellow-d: #ffeeb0;
$yellow-s-l: #f4f0fb;
$yellow-l: #fffae8;
$orange: #ffa237;
$gray-3: #c1c1c1;
$gray-l: rgba(#c1c1c1, 0.1);
$gray-l-2: rgba(0, 0, 0, 0.3);
$gray-2: rgba(#3c4252, 0.6);
$gray-4: #585858;
$green: #09bdc6;
$green1: #19a04f;
$blue: #32afe3;
$blue-d: #5e8dec;
$red: #ff4d4f;
$black: #222;
$gray: #f4f4f4;

$dark-grey: #2f2542;
$bg-color: #1d1135;
$purple: #bb1d67;
$cold-blue: #7649fe;
$dark-gradient: linear-gradient(98.94deg, #2f2542 -22.87%, #1d1135 94.67%);
$gray-field: rgba(255, 255, 255, 0.13);

$bg-gradient: linear-gradient(98.94deg, #ffd335 -22.87%, #f9f9f9 94.67%);
$shadow: 0 12px 40px rgba(0, 0, 0, 0.1);

$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;
