@import 'src/styles/vars';

.m-wallet {
  &__content {
    padding: 20px;
  }

  &__title {
    margin-bottom: 10px;
    padding-bottom: 25px;

    border-bottom: 1px solid $bg-divider;
  }

  &__box {
    margin: 20px 0;
    padding: 20px 0;

    border-top: 1px solid $bg-divider;
    border-bottom: 1px solid $bg-divider;
  }

  &__item {
    width: fit-content;

    & + & {
      margin-top: 20px;
    }

    img {
      margin-right: 5px;
    }
  }

  &__btn {
    margin: 0 auto;

    span {
      margin-left: 10px;
    }
  }
}
