@import 'src/styles/vars';
@import 'src/styles/mixins/media';
@import 'src/styles/mixins/main';

.menu {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;

  padding-top: 25px;
  padding-bottom: 10px;

  overflow-y: scroll;

  width: 100%;
  max-width: 240px;
  height: 100vh;

  background: rgba(10, 0, 44, 0.9);

  transition: 0.4s ease;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    margin-bottom: 12px;
    margin-left: 20px;

    :nth-child(2) {
      margin-top: 9px;
      margin-left: 1px;
    }

    &__logo {
      margin-right: 9px;

      width: 32px;
    }

    &__title {
      margin-top: 8px;

      font-size: 18px;
      font-weight: 700;
      line-height: 20px;

      span {
        margin-right: 5px;

        background: $accent-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @include font-gemina;
    }

    @include flex(row, flex-start, flex-start, nowrap);

    @include b(tablet) {
      margin-top: 18px;

      visibility: hidden;
    }
  }

  &__nav {
    overflow-y: scroll;
    flex-grow: 2;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      padding-right: 13px;

      display: block;

      width: 100%;
      min-width: 227px;

      &+& {
        margin-top: 12px;
      }

      &-box {
        position: relative;

        padding: 12px 12px 12px 20px;

        cursor: pointer;

        border-radius: 0 8px 8px 0;

        transition: 0.3s;

        &.active {
          background: $bg-sidebar-menu;
        }

        &__soon {
          margin-left: auto;
          padding: 3px 8px;

          font-size: 14px;
          line-height: 17px;

          background: linear-gradient(132.83deg, #d715ff 0%, #1a26ff 75.95%);
          border-radius: 12px;

          @include b(tablet) {
            padding: 4px;

            font-size: 9px;
            line-height: 11px;
          }
        }

        @include b(tablet) {
          padding: 12px 10px 12px 22px;

          font-size: 12px;
          line-height: 15px;
        }
      }

      &-img {
        margin-right: 10px;

        width: 20px;
        height: 20px;

        @include b(tablet) {
          margin-right: 6px;

          width: 14px;
          height: 14px;

          img {
            width: 100%;
          }
        }
      }

      &-arrow {
        margin-left: auto;

        transition: transform 0.3s;

        img {
          width: 8px;
          height: 4px;
        }

        &.active {
          transform: rotate(180deg);
        }

        @include flex(row, center, center);
      }

      &.active &-box {
        background: $bg-sidebar-menu;

        &::before {
          background: $bg-accent-gradient;
        }
      }

      @include b(tablet) {
        padding-right: 0;

        min-width: auto;
      }
    }

    .show-more-wrapper {
      padding: 29px 53px 12px;

      background: rgba(0, 0, 0, 0.1);

      a {
        margin-bottom: 21px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      @include flex(column, flex-start);

      @include b(tablet) {
        padding: 19px 10px 19px 15px;

        font-size: 12px;
        line-height: 15px;
      }
    }

    .show-enter {
      margin-top: 0;

      max-height: 0;

      opacity: 0;
    }

    .show-enter-active {
      max-height: 1000px;

      opacity: 1;

      transition: max-height 300ms, opacity 300ms;
    }

    .show-exit {
      max-height: 1000px;

      opacity: 1;
    }

    .show-exit-active {
      margin-top: 0;

      max-height: 0;

      opacity: 0;

      transition: max-height 300ms, opacity 300ms;
    }

    @include b(tablet) {
      //padding-top: 116px;
      // background: linear-gradient(180deg, #2e1d8f 0%, #1f1080 100%) !important;
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
    }
  }

  &__balance {
    padding: 9px 20px;

    width: 100%;

    border-radius: 0;

    img {
      margin-right: 15px;
    }

    @include b(mobile) {
      border-radius: 0 0 12px 12px;
    }
  }

  &__socials {
    margin-top: 12px;
    padding: 0 20px;

    &-item {
      width: 28px;
      height: 28px;

      border: 1px solid $bg-white;
      border-radius: 50%;

      &+& {
        margin-left: 12px;
      }

      &-tg {
        svg {
          margin-bottom: -2px;
          margin-left: -2px;
        }
      }
    }
  }

  &__connect {
    display: none;

    width: 100%;
    max-width: 100%;

    span {
      @include flex(row, center, center);
    }

    &-box {
      margin-bottom: 60px;
      padding: 0 13px 0 20px;

      display: none;

      @include b(tablet) {
        display: block;
      }
    }

    @include b(tablet) {
      display: block;
    }
  }

  @include b(tablet) {
    padding-top: 0;
    padding-bottom: 0;

    max-width: 100%;
  }

  @include b(tablet) {
    position: relative;
    left: -100%;

    overflow: auto;

    height: 100%;

    border-radius: 0;
    box-shadow: none;
  }

  @include b(tablet) {
    .menu__balance {
      padding: 20px 20px;

      display: flex;
      justify-content: center;

      font-size: 22px;

      background: $yellow-d;
      border-radius: 30px 30px 0 0;
    }
  }
}