@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.menu {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;

  padding-top: 25px;
  padding-bottom: 10px;

  width: 100%;
  max-width: 240px;
  height: 100vh;

  background: $dark-grey;
  border-radius: 0 12px 12px 0;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);

  transition: 0.4s ease;
  @include b(tablet) {
    max-width: 100%;
  }

  @include b(tablet) {
    position: relative;
    left: -100%;

    overflow: auto;

    height: 100%;

    border-radius: 0;
    box-shadow: none;
  }

  &__header {
    margin-bottom: 10px;
    margin-left: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    &__logo {
      width: 50px;
      @include b(tablet) {
        display: none;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  &__nav {
    flex-grow: 2;

    &-item {
      padding-right: 13px;

      display: block;

      width: 100%;
      min-width: 227px;

      & + & {
        margin-top: 12px;
      }

      &-box {
        position: relative;

        padding: 12px 12px 12px 20px;

        border-radius: 0 20px 20px 0;

        transition: 0.3s;

        &::before {
          content: '';

          position: absolute;
          top: 0;
          left: 0;

          display: block;

          width: 5px;
          height: 100%;

          background: transparent;

          transition: 0.3s;
        }
      }

      &-img {
        margin-right: 10px;

        width: 20px;
        height: 20px;
      }

      &:hover {
        &::before {
          background: $yellow;
        }
      }

      &.active &-box {
        background: $dark-gradient;

        &::before {
          background: $purple;
        }
      }
    }
  }

  &__balance {
    padding: 9px 20px;

    width: 100%;

    img {
      margin-right: 15px;
    }
  }
  @include b(tablet) {
    .menu__balance {
      padding: 20px 20px;

      display: flex;
      justify-content: center;

      font-size: 22px;

      background: $dark-gradient;
    }
  }

  &__socials {
    margin-top: 12px;
    padding: 0 25px 0 20px;

    &-item {
      width: 28px;
      height: 28px;

      border: 1px solid $black;
      border-radius: 50%;

      & + & {
        margin-left: 12px;
      }

      &-tg {
        svg {
          margin-bottom: -2px;
          margin-left: -2px;
        }
      }
    }
  }

  &__connect {
    width: 100%;
    max-width: 100%;

    &-box {
      margin-bottom: 20px;
      padding: 0 10px;
    }
  }
}
