@import 'src/styles/vars';
@import 'src/styles/mixins/main';

.choose-tokens {
  &__box {
    &-top {
      margin-bottom: 30px;
      padding-bottom: 30px;

      border-bottom: 1px solid $bg-divider;
    }

    &-title {
      margin-bottom: 7px;
    }
  }

  &__currency {
    margin-right: 20px;

    cursor: pointer;

    &-img {
      width: 46px;
    }

    &-arrow {
      margin-left: 12px;
    }
  }

  &__line {
    margin: 20px 0;

    &::before {
      content: '';

      display: block;

      width: 100%;
      height: 1px;

      background: $bg-divider;
    }

    div {
      margin-left: 13px;

      min-width: 36px;
      height: 36px;

      cursor: pointer;

      background: $gray-l;
    }

    img {
      margin-bottom: -3px;
    }
  }

  &__select {
    width: 100%;
  }

  &__err {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;

    width: max-content;

    &-wrapper {
      position: relative;
    }
  }

  &__b-m-cont {
    @include flex(row, center, flex-end, nowrap);
    margin-top: 5px;
    &__max {
      font-size: 15px;
      line-height: 19px;
      @include flex(row, center, flex-end);
      cursor: pointer;
    }

    &__balance {
      margin-right: 10px;
      //position: absolute;
      //left: 0;
      //bottom: calc(100% + 8px);
    }
  }
}
