@import '/src/styles/index.scss';

.partners {
  padding-top: 50px;
  padding-bottom: 350px;

  width: 100%;
  min-height: 100vh;

  background: url(../../../../assets/img/sections/home/moon.png) 450px 630px no-repeat,
    linear-gradient(180deg, #060338 -6.71%, rgba(6, 3, 56, 0) 80.09%) top/100% 148px no-repeat,
    url(../../../../assets/img/sections/home/features-bg-1.webp) center/100% auto no-repeat,
    url(../../../../assets/img/sections/home/partners-bg.webp) bottom/contain no-repeat,
    #110847 center;

  @include b(preTablet) {
    padding-bottom: 200px
  }

  @include b(tablet) {
    padding-bottom: 150px
  }

  @include b(mobile) {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 80px
  }

  &_body {
    margin: 0 auto;

    width: 100%;
    max-width: 1100px;

    @include flex(column, flex-start, center);

    @media (min-width: 1921px) {
      max-width: 1400px;
    }

    @media (min-width: 2000px) {
      max-width: 1500px;
    }

    @media (min-width: 2100px) {
      max-width: 1600px;
    }

    @include b(preTablet) {
      @include flex(column, center, center);
      max-width: 600px;
    }

    &_row {
      margin: 0;
      width: 100%;
      max-width: 1100px;
      @include flex(row, flex-start, space-between, nowrap);
      gap: 65px;

      @media (min-width: 1921px) {
        width: 100%;
        max-width: 1400px;
        margin: 50px 0 70px;
      }

      @media (min-width: 2000px) {
        max-width: 1500px;
      }

      @media (min-width: 2100px) {
        max-width: 1600px;
      }

      @include b(preTablet) {
        @include flex(column, center, center);
      }

      @include b(tablet) {
        margin: 0 auto;
        gap: 0;

        width: 100%;
      }

      &_title {
        padding-top: 60px;

        width: 400px;
        height: 100%;

        @include b(tablet) {
          width: 300px;
        }

        h1 {
          margin-bottom: 25px;

          text-align: left;
        }
      }

      &_slider {
        position: relative;

        width: 100%;
        max-width: 600px;
        @include flex(row, center, center, nowrap);

        @media (min-width: 2100px) {
          max-width: 890px;
        }

        @include b(preTablet) {
          max-width: 610px;
          @include flex(column, center, center);
        }

        @include b(mobile) {
          max-width: 300px;
        }

        &.swiper {
          margin: 0;
        }

        .swiper-wrapper {
          max-width: 600px;
          max-height: 250px;

          @media (min-width: 2100px) {
            max-width: 890px;
          }

          @include b(preTablet) {
            margin: 0 auto;

            max-width: 610px;
          }

          @include b(mobile) {
            max-width: 300px;
          }
        }

        .swiper-slide {
          max-width: 370px;
          max-height: 250px;
        }

        .swiper-button-prev {
          top: auto;
          bottom: 50px;
          left: 14px;
        }

        .swiper-button-next {
          top: auto;
          bottom: 50px;
          right: 6px;

          @include b(preTablet) {
            right: 14px;
          }
        }

        .swiper_btn_left {

          position: absolute;
          top: 36px;
          left: -10px;

          &:hover {
            img {
              opacity: 1;
            }
          }

          img {
            transform: scale(-1) translateY(50%);
            width: 40px;
            position: absolute;
            top: 50%;
            left: 0;
            opacity: .5;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }

        .swiper_btn_right {
          position: absolute;
          top: -32px;
          right: 0;

          &:hover {
            img {
              opacity: 1;
            }
          }

          img {
            transform: translateY(50%);
            width: 40px;
            position: absolute;
            top: 50%;
            right: 0;
            opacity: .5;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }

          @include b(preTablet) {
            right: -10px;
          }
        }
      }
    }

    &_grid {
      margin-bottom: 100px;

      width: 100%;

      @include b(preTablet) {
        max-width: 100%;
      }

      &_content {
        @include flex(column, flex-start, center);

        @media (min-width: 1921px) {
          margin: 0;
        }

        @include b(preTablet) {
          @include flex(row, center, center, wrap);
        }

        h1 {
          margin: 0 auto 60px;

          max-width: 374px;
        }

        &_cards {
          margin: 0 auto;

          display: block;
          width: 100%;

          @media (min-width: 2100px) {
            display: block;
          }

          @media (min-width: 1921px) {
            width: 100%;
          }

          @include b(preTablet) {
            margin: 0 auto;

            width: 100%;
          }

          @include b(mobile) {
            padding: 0;
          }

          &_slider {
            height: 130px;
            width: 100%;

            .partners-card {
              width: auto;
              height: 100%;
            }

            .swiper-slide {
              height: auto;
              min-height: 100%;
            }

            @media (min-width:2100px) {
              .partners-card {
                width: auto;
                height: 100%;
              }

              .swiper-slide {
                height: auto;
                min-height: 100%;
              }
            }

            @media (max-width:1920px) {
              height: 90px;
            }

            .swiper-wrapper {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

.mt-first-grid {
  @include b(mobile) {
    padding-top: 100px;
  }
}