@import 'src/styles/vars';

.recent-txs {
  &__err {
    margin-top: 22px;
    padding-top: 32px;

    border-top: 1px solid $bg-divider;

    &-text {
      max-width: 290px;
    }

    &-btn {
      margin-top: 30px;

      min-width: 100%;
      max-width: 145px;
    }
  }

  &__scroll {
    margin-top: 25px;
  }

  &__close {
    cursor: pointer;
  }

  &__item {
    padding: 20px 20px 17px;

    background: rgba(0, 0, 0, 0.4);
    //border: 1px solid rgba(244, 244, 244, 0.1);
    border-radius: 11px;

    & + & {
      margin-top: 10px;
    }

    &-box {
      margin-top: 16px;

      & + & {
        padding-top: 16px;

        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }

    &-currency {
      &-img {
        margin-left: 11px;

        width: 30px;
      }
    }
  }
}
