@import '../../../styles/mixins/media';
@import '../../../styles/vars';

.header {
  position: fixed;
  z-index: 10;

  padding: 0 22px;

  display: none;

  width: 100%;
  height: 72px;

  background-color: $dark-grey;
  border-radius: 0 0 14px 14px;
  box-shadow: $shadow;

  @include b(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-burger {
    position: absolute;
    top: 25px;
    left: 25px;

    width: 30px;
    height: 16px;

    cursor: pointer;

    &__line {
      position: absolute;

      width: 100%;
      height: 1px;

      background-color: $black;

      transition: 0.4s ease;

      &--1 {
        top: 0;
      }

      &--2 {
        top: 50%;

        transform: translateY(-50%);
      }

      &--3 {
        bottom: 0;
      }
    }

    &--active {
      .header-burger__line {
        &--1 {
          top: 50%;

          transform: rotate(225deg) translateY(-50%);
        }

        &--2 {
          opacity: 0;

          transform: rotate(405deg);
        }

        &--3 {
          top: 50%;

          transform: rotate(-45deg) translateY(-50%);
        }
      }
    }
  }

  &__logo {
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    &__title {
      margin-left: 11px;

      font-weight: 700;
    }
  }
}

// menu-mobile
.menu-mob {
  position: fixed;
  z-index: 5;
  top: 0;
  left: -100%;

  @include bb(desktop) {
    display: none !important;
  }
  padding-top: 102px;

  width: 100%;
  height: 100%;

  background-color: $dark-grey;

  transition: 0.4s ease;

  &--active {
    left: 0;

    .menu {
      left: 0;
    }
  }

  .header-mob__connect {
    margin: 0 auto 20px;

    width: 85% !important;
  }
}
