@import '../../../styles/mixins/media';
@import '../../../styles/mixins/main';
@import '../../../styles/vars';

.header {
  position: fixed;
  z-index: 10;

  padding: 0 22px;

  display: none;

  width: 100%;
  height: 72px;

  background-color: $bg-dop;
  border-radius: 0 0 14px 14px;
  box-shadow: $shadow;

  @include b(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    &__title {
      margin-left: 11px;
      @include font-gemina;
      font-weight: 700;

      span {
        margin-right: 5px;

        background: $accent-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    img {
      width: 40px;
    }
  }

  &-burger {
    position: relative;

    width: 30px;
    height: 16px;

    cursor: pointer;

    &__line {
      position: absolute;

      width: 100%;
      height: 1px;

      background-color: $bg-white;

      transition: 0.4s ease;

      &--1 {
        top: 0;
      }

      &--2 {
        top: 50%;

        transform: translateY(-50%);
      }

      &--3 {
        bottom: 0;
      }
    }

    &--active {
      .header-burger__line {
        &--1 {
          top: 50%;

          transform: rotate(225deg) translateY(-50%);
        }

        &--2 {
          opacity: 0;

          transform: rotate(405deg);
        }

        &--3 {
          top: 50%;

          transform: rotate(-45deg) translateY(-50%);
        }
      }
    }
  }
}

// menu-mobile

// TODO: fix min-width to bb
.menu-mob {
  position: fixed;
  z-index: 15;
  top: 0;
  left: -100%;
  @include bb(laptop, desktop) {
    display: none !important;
  }

  max-width: 240px;
  width: 100%;
  height: 100%;

  transition: 0.4s ease;

  &--active {
    left: 0;
    max-width: 316px;

    .menu {
      left: 0;
    }
  }

  .header-mob__connect {
    margin: 0 auto 20px;

    width: 85% !important;
  }
}

.connect {
  position: fixed;
  z-index: 999;
  top: 25px;
  right: 87px;

  max-width: 200px;

  @include b(tablet) {
    display: none !important;
  }

  &.hide {
    display: none;
  }
}
