@import 'src/styles/mixins/media';
@import 'src/styles/mixins/main';
@import 'src/styles/vars';

.header {
  position: fixed;
  z-index: 9999;

  padding: 0 22px;

  display: none;

  width: 100%;
  height: 72px;

  background: $bg-primary;

  @include b(tablet) {
    @include flex(row, center, flex-start, nowrap);
  }

  &__logo {
    margin-left: 17px;
  }

  .audits_sm {
    margin-left: auto;

    :first-child {
      margin-right: 15px;
    }

    :nth-child(2) {
      margin-right: 23px;
    }

    a {
      margin: 0;
      padding-top: 3px;

      width: fit-content;
      height: fit-content;
    }
    @include b(mobile) {
      @include flex(row, center, center, nowrap);
      gap: 17px;

      :first-child {
        margin: 0;
      }

      :nth-child(2) {
        margin-right: 20px;
      }
    }
    @media (max-width: 380px) {
      width: 100%;
      gap: 15px;

      :first-child {
        margin: 0;
      }

      :nth-child(2) {
        margin-right: 5px;
      }
    }
  }

  &__connect_btn {
    font-size: 10px !important;
    line-height: 26px !important;

    span {
      @include flex(row, center);
    }
  }

  &-burger {
    position: relative;

    width: 30px;
    height: 16px;

    cursor: pointer;

    &__line {
      position: absolute;

      width: 100%;
      height: 1px;

      background-color: $bg-white;

      transition: 0.4s ease;

      &--1 {
        top: 0;
      }

      &--2 {
        top: 50%;

        transform: translateY(-50%);
      }

      &--3 {
        bottom: 0;
      }
    }

    &--active {
      .header-burger__line {
        &--1 {
          top: 50%;

          transform: rotate(225deg) translateY(-50%);
        }

        &--2 {
          opacity: 0;

          transform: rotate(405deg);
        }

        &--3 {
          top: 50%;

          transform: rotate(-45deg) translateY(-50%);
        }
      }
    }
  }
}

// menu-mobile

// TODO: fix min-width to bb
.menu-mob {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;

  width: 100%;

  max-width: 200px;
  height: 100%;

  border-radius: 12px;

  transition: 0.4s ease;
  @include bb(laptop, desktop) {
    display: none !important;
  }

  .sidebar_cover {
    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    @include b(tablet) {
      position: fixed;
      z-index: 50;
      top: 0;
      right: 0;

      display: none;

      width: 200vh;
      height: 100vh;

      &.active {
        display: block;
      }
    }
  }

  &--active {
    left: 0;

    max-width: 200px;

    .menu {
      z-index: 100;
      left: 0;
      //background: $bg-primary;
    }
  }

  .header-mob__connect {
    margin: 0 auto 20px;

    width: 85% !important;
  }
}

.connect_wrapper {
  //padding: 0 10px;
  //margin-top: 25px;
  position: absolute;

  margin-left: 240px;

  width: calc(100% - 240px);

  &.hide {
    display: none;
  }

  .connect_container {
    margin: 0 auto;
    padding: 0 10px;

    width: 100%;
    max-width: 900px;
    height: 62px;
    //background: rgba(255,255,255,0.1);
    border-radius: 12px 0 0 12px;
    @include flex(row, center, flex-end);

    .audits {
      margin-left: auto;
      @include flex(row, center);
      @include b(tablet) {
        display: none;
      }

      :first-child {
        margin-right: 26px;
      }

      :nth-child(2) {
        margin-right: 21px;
      }

      a {
        margin: 0;
        padding-top: 5px;

        width: fit-content;
        height: fit-content;
      }
    }
  }
}

.connect {
  z-index: 999;

  span {
    @include flex(row, center);
  }

  @include b(tablet) {
    display: none !important;
  }

  &.hide {
    display: none;
  }
}
