@import 'src/styles/vars';
@import 'src/styles/mixins/media';

$section-margin: 60px;
$information-column-min-width: 300px;
$document-column-width: calc(100% - #{$information-column-min-width});

.dao {
  &__wrapper {
    padding: $section-margin;

    @include b(mobile) {
      padding: $section-margin / 3;
    }
  }

  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 43px;
  }

  &__section {
    margin-top: $section-margin;
  }

  &__list-wrapper {
    padding: $section-margin;

    @include b(mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.document {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 27px 27px 27px 34px;

    @include b(mobile) {
      position: relative;
      flex-direction: column;
      padding-top: 60px;
    }
  }

  &__column {
    flex: 1 1 $document-column-width;
    width: $document-column-width;

    @include b(mobile) {
      flex: unset;
      width: unset;
    }
  }

  &__text {
    white-space: break-spaces;
    overflow-wrap: break-word;
  }

  &__status {
    margin-bottom: 18px;
    text-transform: capitalize;
    font-weight: 500;

    &_active {
      color: $green1;
      box-shadow: 0 0 0 1px $green1;
    }

    &_closed {
      color: $gray-4;
      box-shadow: 0 0 0 1px $gray-4;
    }

    &_pending {
      color: $orange;
      box-shadow: 0 0 0 1px $orange;
    }

    @include b(mobile) {
      position: absolute;
      top: 27px;
      right: 27px;
    }
  }

  &__information {
    width: 100%;
    margin-top: 10px;
  }
}

.information-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 20px;
  min-width: $information-column-min-width;

  @include b(mobile) {
    flex: unset;
    width: unset;
    padding-left: 0;
  }

  @include b(extramobile) {
    min-width: initial;
  }
}
