@import '../../../../config/config.scss';

.dropdown{
    &__input{
        display: flex;
        align-items: center;
        margin-bottom: $dropdown_mb;
        padding: $dropdown_padding;
        border: $input_border;
        border-radius: $input_border_radius;
        font-size: $dropdown_size;
        line-height: $dropdown_height;
        color: $dropdown_color;
        background-color: $dropdown_bg;
        cursor: pointer;
        &:last-child{
            margin-bottom: $dropdown_last_mb;
        }
    }
    &__icon{
        margin-right: $dropdown_icon_mr;
    }
    &__text{
        flex: 1 0 auto;
        font-size: $dropdown_size;
        line-height: $dropdown_height;
    }
    &__option>&__arrow{
        display: none;
    }
    &__empty &__arrow{
        display: none;
    }
    &__option{
        margin-bottom: 0;
        margin-bottom: $dropdown_options_spacebetween;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
