@import '/src/styles/mixins/media.scss';
@import '/src/styles/mixins/main';
@import '/src/styles/mixins/displays';

.trade-wrapper {
  width: 100%;
  min-height: 100vh;

  @include b(tablet) {
    padding: 0 60px;
  }

  @include b(mobile) {
    padding: 0;
  }

  background: linear-gradient(180deg, #060338 -6.71%, rgba(6, 3, 56, 0) 80.09%) top/100% 148px no-repeat,
  url(../../assets/img/sections/home/features-bg-1.webp) center/100% auto no-repeat,
  url(../../assets/img/sections/home/partners-bg.webp) bottom/contain no-repeat,
  #110847 center;
}

.trade {
  z-index: 10;

  // margin-left: 240px;
  padding-top: 90px;
  padding-left: 0;
  padding-bottom: 90px;

  &__body {
    @include container;
    // margin-left: 240px;
    padding: 0 10px;

    width: 100%;

    @media (min-width: 1921px) {
      max-width: 1400px;
    }

    @media (min-width: 2000px) {
      max-width: 1500px;
    }

    @media (min-width: 2100px) {
      max-width: 1600px;
    }

    @include b(mobile) {
      padding: 0 22px;
    }
  }

  @include flexbox(center);

  &__content {
    width: 420px;

    @media (min-width: 2100px) {
      width: 610px;
    }

    @include b(tablet) {
      width: 100%;
    }
  }

  &__blocks {
    margin-top: 35px;

    max-width: 1100px;
    @include flex(row, flex-start, center, nowrap);


    @media (min-width: 1921px) {
      max-width: 1400px;
    }

    @media (min-width: 2000px) {
      max-width: 1500px;
    }

    @media (min-width: 2100px) {
      max-width: 1600px;
    }

    @include b(tablet) {
      @include flex(column, center, center, nowrap);
    }
  }

  &__graph {
    margin-left: 10px;

    width: 670px;
    height: fit-content;

    @media (min-width: 2100px) {
      width: 970px;
    }

    @include b(tablet) {
      margin-top: 10px;
      margin-left: 0;

      width: 100%;
    }

    &-body {
      background: $bg-trade-box;
      border-radius: 12px;
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);

      &__info {
        position: relative;

        padding: 30px 31.5px 0;
      }
    }
  }

  .xaxis-label {
    min-width: calc(100% + 10px);

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 21px;

    color: $text-main-color;
  }

  @include b(extramobile) {
    background-image: none;
  }
}

//@media (max-width: 1350px) {
//  .trade {
//    &__blocks {
//      flex-direction: column;
//      align-items: center;
//    }
//
//    &__graph {
//      max-width: 100%;
//    }
//
//    &__content {
//      max-width: 100%;
//    }
//  }
//}

@media (max-width: 1024px) {
  .trade {
    margin-left: 0;

    &__graph {
      max-width: 100%;

      &-body {
        &__info {
          padding: 15px 15.25px 0;

          flex-direction: column-reverse;
          gap: 20px;
        }
      }
    }
  }
}