@import 'src/styles/mixins/media';

$desktop-menu-width: 240px;
$default-horizontal-padding: 48px;
$default-vertical-padding: 22px;

.dao-wrapper {
  padding: {
    top: $default-vertical-padding;
    right: $default-horizontal-padding;
    left: $default-horizontal-padding + $desktop-menu-width;
    bottom: $default-vertical-padding;
  }

  @include b(tablet) {
    padding-right: 0;
    padding-left: 0;
  }

  &__content {
    border-radius: 40px;
  }
}
