@import 'src/styles/vars';

.add-liquidity {
  &__info {
    margin-top: 30px;
    padding-top: 30px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);

    &-item {
      &-title {
        margin-bottom: 10px;
      }
    }

    &-content {
      margin-top: 20px;
      padding: 20px 10px 0;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;

      overflow: hidden;

      background: $gray-l;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }
  }

  &__btn {
    margin-top: 30px;

    width: 100%;
  }

  &__first {
    margin-bottom: 20px;
    padding: 30px 20px;

    background: linear-gradient(0deg, #fff2c6, #fff2c6);
    border-radius: 40px;

    p + p {
      margin-top: 15px;
    }
  }
}
