@import 'src/styles/vars';

.exch-settings {

  &__box {
    &-title {
      margin-bottom: 30px;
      padding-bottom: 25px;

      border-bottom: 1px solid $bg-divider;
    }
  }

  &__close {
    cursor: pointer;
  }

  &__section {
    &:last-of-type {
      margin-bottom: 30px;
      padding-bottom: 30px;

      border-bottom: 1px solid $bg-divider;
    }

    & + & {
      margin-top: 30px;
    }

    &-title {
      margin-bottom: 21px;
    }
    &-title-2 {
      margin-bottom: 14px;
    }
  }

  &__slippage {
    &-input {
      max-width: 122px;
    }

    &-btn {
      margin-right: 5px;

      border-radius: 30px !important;
    }
  }

  &__txdeadline {
    &-input {
      margin-right: 15px;

      max-width: 128px;
    }
  }

  &__btn {
    width: 100%;
    max-width: 240px;
  }
}
