@import '/src/styles/index.scss';

.preview-tables {
  padding-top: 50px;
  padding-bottom: 450px;

  width: 100%;
  // min-height: 100vh;
  min-height: auto;

  @media (min-width:1921px) {
    padding-bottom: 550px;
  }

  @media (min-width:2200px) {
    padding-bottom: 650px;
  }

  // @media (max-width:1300px) {
  //   padding-bottom: 300px;
  // }

  @include b(preTablet) {
    padding-bottom: 310px;
  }

  @include b(tablet) {
    padding: 50px 0 250px;

    min-height: auto;
  }

  @include b(mobile) {
    padding: 50px 22px 200px;
  }

  @media (max-width:475px) {
    padding: 50px 22px 150px;
  }

  background: linear-gradient(0deg, #110847 0%, rgba(17, 8, 71, 0) 89.36%) bottom/100% 148px no-repeat,
  url(../../../../assets/img/sections/home/preview-bg-second.webp) bottom/100% auto no-repeat,
  #110847 center/cover no-repeat;

  &_body {
    margin: 0 auto;

    width: 100%;
    max-width: 1100px;
    @include flex(row, center, flex-start);

    @media (min-width: 1921px) {
      max-width: 1400px;
    }

    @media (min-width: 2000px) {
      max-width: 1500px;
    }

    @media (min-width: 2100px) {
      max-width: 1600px;
    }

    @include b(preTablet) {
      max-width: 600px;
    }

    &_content {
      gap: 30px;

      // @include m-left(70px);

      @include flex(row, flex-start, space-between, nowrap);

      @media (min-width:1921px) {
        width: 100%;
        margin: 0;
      }

      @include b(preTablet) {
        margin: 0 auto;

        max-width: 600px;
        @include flex(column, center, center);
      }

      @include b(mobile) {
        max-width: 100%;
      }

      &_earn-table,
      &_staking-table {

        margin-top: 27px;
        padding: 0 20px;

        @include b(tablet) {
          padding: 0;

          // height: 90px;
        }

        @include b(mobile) {
          padding: 0;

          width: 100%;
          max-width: 100% !important;
          // height: 140px;
        }
      }

      &_earn {
        @include flex(column, center, center, nowrap);

        @media (min-width:1921px) {
          width: 50%;
        }

        @include b(tablet) {
          width: 100%;

          a {
            padding: 0 10px 0 0;
          }
        }

        &-table {
          background: $bg-table;
          border-radius: 12px;
          box-shadow: $bsh-table;

          @media (min-width:1921px) {
            width: 100%;
          }

          &_item {
            padding: 0 !important;

            max-width: 490px;

            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            @media (min-width: 1921px) {
              width: 100%;
              max-width: 100% !important;
            }

            @include b(tablet) {
              max-width: 100%;
              padding: 0 10px 0 20px !important;

              height: 90px;
            }

            @include b(mobile) {
              padding: 10px !important;
              height: 140px;

              .table-card_btn {
                right: 17px;
              }
            }

            &:last-child {
              border: none;
            }
          }
        }
      }

      &_staking {
        width: 100%;
        @include flex(column, center, flex-end, nowrap);

        @media (min-width:1921px) {
          width: 50%;
        }

        &-table {
          padding: 0;

          width: 100%;

          &_item {
            background: $bg-table;
            border-radius: 12px;
            box-shadow: $bsh-table;

            @media (min-width: 1921px) {
              width: 100%;
              max-width: 100% !important;
            }

            @include b(mobile) {
              max-width: 100%;
            }

            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }
        }

        h2 {
          span {
            @include b(mobile) {
              padding-left: 10px;
            }
          }
        }

        .table-card_btn {
          right: 17px;
        }
      }

      .swiper-wrapper {
        max-width: 95%;
      }

      .swiper-container {
        max-width: 95%;
      }

      &_title {
        width: 100%;
        @include flex(row, flex-start, space-between, nowrap);

        @include b(mobile) {
          a {
            &.btn-link {
              padding: 0;
            }
          }
        }

        button {
          &:hover {
            span {
              img {
                opacity: 1;
              }
            }
          }

          span {
            img {
              width: 40px;
              opacity: .5;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
          }
        }

        h2 {
          width: 100%;

          text-align: left !important;
        }
      }
    }
  }
}

.btn-staking {
  @include b(tablet) {
    padding-right: 10px;
  }
}