@import 'src/styles/mixins/media.scss';

.pools-preview {
  padding: 41px 41px 19px;
  background-image: url('../../../../assets/img/sections/pools/staking_preview.png');
  background-size: cover;
  border-radius: 12px;

  @include b(mobile) {
    background-image: url('../../../../assets/img/sections/pools/staking_preview_sm.png');
    background-size: cover;
  }

  @include b(tablet) {
    padding: 40px 10px 10px;

    display: block !important;
  }

  &__title {
    position: relative;
    z-index: 2;

    // margin-bottom: 15px;

    color: #fff;

    @include b(tablet) {
      margin-bottom: 0;

      font-size: 35px !important;
    }
  }

  &__descr {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
  }

  &__subtitle {
    color: #fff;
  }

  &__bg {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: -12px;

    @include b(tablet) {
      top: 8px;
      left: 8px;
    }
  }

  &__box {
    @include b(tablet) {
      margin-bottom: 20px;
      padding: 0 10px;
    }
  }

  &__bounty {
    padding: 20px 15px 20px 24px;
    display: none;
    background: $bg-farms-gradient;
    border-radius: 12px;
    box-shadow: 0 12px 40px rgba(85, 32, 142, 0.25);

    //@include b(tablet) {
    //  display: block;
    //}
    &-title {
      span {
        margin-right: 7px;
      }
    }

    &-btn {
      margin-left: 63px;
    }

    &-box {
      margin-top: 11px;
    }

    &-usd {
      margin-top: 5px;
    }
  }
}