@import '../../../config/config.scss';
.input-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $title_mb;
    &__text{
        font-weight: $title_weight;
        font-size: $title_size;
        line-height: $title_height;
        text-transform: $title_style;
        color: $title_color;
    }
    &__additional{
        display: flex;
        align-items: center;
        font-size: $title_right_size;
        line-height: $title_right_height;
        text-transform: $title_right_style;
        color: $title_right_color;
        transition: $transition_time;
    }
    &__additional:hover{
        text-shadow:0 0 2px $title_all_color, 0 0 2px $title_all_color;
    }
    &__icon{
        margin-left: 6px;
    }
    &__icon path{
        fill: $main_color;
    }
}
