@import 'src/styles/vars';
@import 'src/styles/mixins/main';

$bg-blue: #0a42ea;
$shadow-blue: #223687;
$text-default: #fff;

.btn {
  padding: 20px 40px;

  display: block;

  width: fit-content;
  height: fit-content;

  cursor: pointer;

  border: none;
  border-radius: 12px;

  &__arrow {
    margin-bottom: 2px;
    margin-left: 10px;
  }

  span {
    transition: 0.3s;
  }

  svg {
    transition: 0.3s;

    path {
      transition: 0.3s;
    }
  }

  &-default {
    color: $text-main-color;
    background: $accent-gradient;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);

    &>* {
      color: $text-main-color  !important;
    }

    &:hover,
    &:active,
    &:focus {
      background: $accent-gradient;
    }
  }

  &-blue {
    padding: 6px !important;

    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    color: $text-default;
    background: $bg-blue;
    border-radius: 11px;
    box-shadow: 0 5px 0 $shadow-blue;

    svg {
      margin-right: 10px;
    }

    &:hover {
      color: $text-default;
      background: $bg-blue;
      box-shadow: 0 0 10px 5px rgb(170, 170, 170);
    }

    &:active,
    &:focus {
      color: $text-default;
      background: $bg-blue;
    }
  }

  &-icon {
    padding: 0;

    background: transparent;
    border-radius: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
    }
  }

  &-pink {
    padding: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 26px;

    color: $text-default;
    background: #c630f6;
    border-radius: 11px;
    box-shadow: 0 5px 0 #6e1989;

    &:hover {
      color: $text-default;
      background: #c630f6;
      box-shadow: 0 0 15px 5px #c25ce0;
    }

    &:active,
    &:focus {
      color: $text-default;
      background: #c630f6;
    }
  }

  &-yellow {
    color: $black;
    background: $yellow;
    box-shadow: 0 12px 40px rgba(255, 162, 55, 0.25);

    &>* {
      color: $black  !important;
    }

    &:hover {
      background: $yellow;
    }

    &:active,
    &:focus {
      background: $yellow;
    }
  }

  &-sm {
    padding: 10px 18px;

    min-width: 74px;

    text-align: center;
  }

  &-ssm {
    padding: 6px 18px;
  }

  &-smd {
    padding: 15px 20px;
  }

  &-lg {
    padding: 31px 40px;
  }

  &-lmd {
    padding: 29.5px 35px;
  }

  &-gray {
    color: $text-main-color;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      color: $text-main-color;
      background: transparent;
      border-color: $bg-btn;
    }

    &:active,
    &:focus {
      color: $text-main-color;
      border-color: $bg-btn;
    }
  }

  &-outline {
    color: $text-main-color;
    background: transparent;
    background-clip: padding-box;
    border: 3px solid $bg-btn;

    &:hover {
      color: $text-main-color;
      background: transparent;
      border-color: $bg-btn;
    }

    &:active,
    &:focus {
      color: $text-main-color;
      background: $bg-btn;
    }

    &.active {
      color: $text-main-color;
      background: $bg-btn;
      border-color: transparent;
    }

    &-purple {
      color: $text-main-color;
      background: transparent;
      border: 1px solid $bg-white;

      &:hover,
      &:focus {
        color: $text-main-color;
        background: transparent;
        border-color: $bg-white;
      }

      &.active {
        color: $text-main-color  !important;
        //background: $accent-gradient;
        //border-color: transparent;
        background-origin: border-box;

        span {
          color: $text-main-color  !important;
        }

        svg {
          transform: rotate(-180deg);

          path {
            stroke: #fff;
          }
        }
      }

      &.noclick {
        cursor: default;

        &:active,
        &.active {
          color: $yellow  !important;
          background: transparent;

          span {
            color: $yellow  !important;
          }
        }
      }
    }

    &-green {
      @extend .btn-outline-purple;
      color: $green;
      border-color: $green;

      &:hover,
      &:focus {
        color: $green;
        border-color: $green;
      }

      svg {
        path {
          stroke: $green;
        }
      }

      &.active {
        background: $green;
      }

      &.noclick {

        &:active,
        &.active {
          color: $green  !important;

          span {
            color: $green  !important;
          }
        }
      }
    }
  }

  &-purple-light {
    color: $text-main-color;
    background: $bg-purple-light;
    border: none;

    &:hover,
    &:focus {
      color: $text-main-color;
      background: $bg-purple-light;
      border: none;
      box-shadow: 0 0 10px 2px rgb(91, 70, 255);
    }

    &.active {
      color: $text-main-color  !important;
      //background: $accent-gradient;
      //border-color: transparent;
      background-origin: border-box;

      span {
        color: $text-main-color  !important;
      }

      svg {
        transform: rotate(-180deg);

        path {
          stroke: #fff;
        }
      }
    }

    &.noclick {
      cursor: default;

      &:active,
      &.active {
        color: $yellow  !important;
        background: transparent;

        span {
          color: $yellow  !important;
        }
      }
    }
  }

  &-yellow-l {
    background: $accent-gradient;

    &:hover,
    &:focus {
      background: $accent-gradient;
    }
  }

  &[disabled] {
    color: $text-main-color;
    background: rgba(197, 196, 195, 0.5);

    &:hover,
    &:focus {
      background: rgba(197, 196, 195, 0.5);
    }

    span {
      color: $text-main-color  !important;
    }
  }

  &-hover-down {
    &.btn-sm {
      padding: 0 !important;
      background: transparent;
      border-radius: unset;
      box-shadow: none;

      >span {
        &:first-child {
          padding: 10px 18px !important;
          border-radius: 11px;
        }
      }

      &.btn-pink {
        >span {
          &:first-child {
            padding: 6px !important;
          }
        }
      }

      &:hover {
        >span {
          &:first-child {
            transform: translateY(4px);
            box-shadow: none;
          }
        }
      }
    }

    &.btn-md {
      padding: 0 !important;
      background: transparent;
      border-radius: unset;
      box-shadow: none;

      >span {
        &:first-child {
          padding: 20px !important;
        }
      }

      &.btn-pink {
        >span {
          &:first-child {
            box-shadow: 0 5px 0 #6e1989;
          }
        }

        &:hover {
          >span {
            &:first-child {
              transform: translateY(5px);
              box-shadow: none;
            }
          }
        }
      }
    }

    &.btn-blue {
      >span {
        &:first-child {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 6px;
          background: $bg-blue;
          border-radius: 11px;
          box-shadow: 0 5px 0 $shadow-blue;
        }
      }

      &:hover {
        >span {
          background-color: #223687;
        }
      }
    }

    &.btn-pink {
      // padding: 0;

      >span {
        &:first-child {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 6px;
          background: #c630f6;
          border-radius: 11px;
          box-shadow: 0 5px 0 #6e1989;
        }
      }

      &:hover {
        >span {
          background-color: #6e1989;
        }
      }
    }

    &.btn-smd {
      padding: 0 !important;
      background: transparent;
      border-radius: unset;
      box-shadow: none;

      >span {
        &:first-child {
          padding: 15px 20px;
          border-radius: 11px;
        }
      }

      &:hover {
        >span {
          &:first-child {
            transform: translateY(4px);
            box-shadow: none;
          }
        }
      }
    }
  }
}