@import 'src/styles/vars';

.r-group {
  padding: 4px;

  overflow: hidden;

  background: $gray-l;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  &__btn {
    padding: 11px 16px;

    height: auto;

    line-height: unset;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border: none;
    border-radius: 12px;

    &:first-child,
    &:last-child {
      border: none;
      border-radius: 12px;
    }

    &:not(:first-child)::before {
      display: none;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .ant-radio-button-wrapper-checked {
    color: $black !important;
    background: $yellow !important;
  }
}
