@import 'src/styles/vars';
@import 'src/styles/mixins/media';

@import '../styles';

.farms-table {
  margin-top: 45px;
  padding: 35px 0;
  border-radius: 40px;
  background: $bg-dop;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);

  @include b(tablet) {
    margin-top: 30px;
    padding: 0;

    border-radius: 0 !important;
  }

  &__head {
    position: sticky;
    top: 20px;

    margin: 0 30px;
    padding-bottom: 14px;

    display: grid;
    align-items: center;
    grid-template-columns: $columns;
    grid-column-gap: 20px;

  }
}
