@import '../../../config/config';

.transaction-info {
  position: relative;
  display: grid;
  grid-template-columns: $transaction_info_grid;
  min-height: $transaction_info_min_height;
  padding: $transaction_info_padding;
  background: $transaction_info_background;
  border: $transaction_info_border;
  border-radius: $transaction_info_border_radius;
  font-weight: $transaction_info_weight;
  &__title {
    font-size: $transaction_info_title_size;
    color: $transaction_info_color;
    opacity: $transaction_info_title_opacity;
  }
  &__lables{
    position: relative;
  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &-from {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    &-from>img {
      margin: $transaction_info_from_img_m;
    }
    &-to {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    &-to>img {
      margin: $transaction_info_to_img_m;
    }
  }
  &__network {
    color: $transaction_info_color;
  }
  &__amount, &__network {
    position: relative;
    text-align: right;
    font-size: $transaction_info_amount_size;
  }
  &__column:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    opacity: $transaction_info_amount_after_opacity;
    height: $transaction_info_amount_after_height;
    background: $transaction_info_amount_after_background;
    left: 0;
    top: 50%;
  }
  &__price{
    color: $transaction_info_color;
  }
  &__img {
    height: $transaction_info_img;
  }
  &__link{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $transaction_info_color;
    transition: $transition_time;
    font-size: 14px;
  }
  &__link:hover {
    text-shadow:0 0 2px $title_all_color, 0 0 2px $title_all_color;
  }
}



