@import '/src/styles/index';

.features {
  margin: 0 0 -1px;
  width: 100%;
  min-height: 100vh;

  background: url(../../../../assets/img/sections/home/features-bg-1.png) center/cover no-repeat,
    url(../../../../assets/img/sections/home/features-bg-2.png) bottom/100% auto no-repeat,
    #110847 center;

  &_body {
    padding-top: 50px;

    width: 100%;
    @include m-left(70px);
    @include flex(row, center, flex-start, nowrap);

    @include b(mobile) {
      padding: 50px 22px 150px;
    }

    @media (min-width: 1921px) {
      margin: 0;
    }

    &_content {
      margin: 0 auto;

      width: 100%;
      max-width: 1100px;
      @include flex(column, center, center, nowrap);

      @media (min-width: 1921px) {
        max-width: 1400px;
      }

      @media (min-width: 2000px) {
        max-width: 1500px;
      }

      @media (min-width: 2100px) {
        max-width: 1600px;
      }

      @include b(preTablet) {
        max-width: 600px;
      }

      @include b(tablet) {
        max-width: 700px;
      }

      &_cards {
        margin-top: 20px;

        display: grid;

        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        @include b(preTablet) {
          @include flex(column, center, center, nowrap);
        }

        @include b(tablet) {
          @include flex(row, center, center, wrap);
        }
      }
    }
  }
}