@import '../../config/config.scss';

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $btn_padding;
    border: $btn_border;
    border-radius: $btn_border_radius;
    font-family: $main_font;
    font-size: $btn_size;
    line-height: $btn_height;
    font-weight: $btn_weight;
    background: $btn_bg;
    color: $btn_color;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.5s all;
    box-shadow: none;
    &:hover{
        box-shadow: $btn_hover_box_shadow;
        background: $main_color_light;
        transform: translateY(-2px);
    }
    &_inactive{
        border: $btn_inactive_border;
        // border-radius: $btn_inactive_border;
        color: $btn_inactive_color;
        background: $btn_inactive_bg;
        pointer-events: none;
        svg path{
            stroke: $opacity_color;
        }
    }
    &__max{
        position: absolute;
        width: auto;
        top: 50%;
        right: 5px;
        max-width: $btn_max_width;
        transform: translateY(-50%);
        padding: $btn_max_padding;
        border-radius: $btn_max_border_radius;
        font-weight: $btn_max_weight;
        font-size: $btn_max_size;
        text-transform: uppercase;
        &:hover{
            box-shadow: -2px 2px 2px 2px $opacity_color_light;
            background: $main_color_light;
            transform: translateY(calc(-50% + -2px));
        }
        // @include _480{
        //     // width: 100%;
        //     margin-top: 10px;
        //     position: static;
        //     font-size: $btn_max_size;
        //     transform: translateY(0);
        //     &:hover{
        //         transform: translateY(calc(-2px));
        //     }
        // }
    }
    &__approve{
        margin-bottom: $btn_approve_mb;
    }
    &__arrow{
        margin-right: 13px;
    }
    &_hidden{
        display: none;
    }
    &-modal{
        width: 100px;
    }
    &_old{
        &.button{
            &__approve{
                margin-bottom: 0;
                &::before{
                    content: '1';
                }
            }
            &_inactive{
                &::before{
                    background-color: $main_color;
                }
            }
        }
        &::before{
            content: '2';
            display: flex;
            align-items: center;
            justify-content: center;        
            width: 27px;
            height: 27px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: $bg_color;
            transition: all 0.5s;
        }
    }

}
