@import 'src/styles/vars';
.input-number {
  border: none;
  background: transparent;
  width: 100%;
  box-shadow: none;
  &__box {
    width: 100%;
  }
  &__prefix {
    margin-right: 13px;
  }
  &:not(:only-child) {
    input {
      padding-right: 5px;
    }
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
  input {
    height: auto;
    width: 100%;
    border: none;
  }
  &__prefix-bottom {
    margin-top: -20px;
    margin: -20px 20px 15px;
  }
  &-lg {
    &-box {
      border-radius: 12px;
    }
    input {
      padding: 25px 20px;
      font-size: 25px;
      line-height: 30px;
      font-weight: 500;
      height: auto;
    }
  }
  &-md {
    &-box {
      border-radius: 30px;
    }
    input {
      padding: 20px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &-sm {
    &-box {
      border-radius: 30px;
    }
    input {
      padding: 13px 20px 14px;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &-outline {
    border: none;
    box-shadow: none;
    &:hover,
    &:focus {
      border: none !important;
      border-color: transparent;
      box-shadow: none !important;
    }
    &-box {
      background: white;
      border: 3px solid $yellow-d;
      color: $gray;
      overflow: hidden;
      &.active {
        background: $yellow-d;
      }
    }
    input {
      background: transparent;
    }
  }
  &-gray {
    &-box {
      background: $gray-l;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &:hover,
    &:focus {
      border-color: rgba(0, 0, 0, 0.1);
    }
    input {
      background: transparent;
    }
  }
  &-white {
    &-box {
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &:hover,
    &:focus {
      border-color: rgba(0, 0, 0, 0.1);
    }
    input {
      background: transparent;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;

    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
  }
  .ant-input-number-handler-wrap {
    display: none;
  }
}
