@import '../../config/config.scss';

.form{
    position: relative;
    padding: $form_padding;
    background: $form_bg;
    border-radius: $form_border_radius;
    box-shadow: $form_box_shadow;
    width: 100%;
    max-width: $form_max_width;
    @include _900{
        padding: $form_padding - 15px;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        margin-bottom: $input_mb;
        font-size: $fee_size;
        line-height: $fee_height;
        font-weight: $fee_weight;
        color: $fee_color;
        @include _480{
            flex-direction: column;
            justify-content: start;
        }
    }
    &__buttons_old{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > .button__arrow_old{
            margin: 0 13px;
            min-height: 5px;
            min-width: 10px;
        }
    }
}
