.receive {
  &__box {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  &__item {
    &-currency {
      img {
        width: 32px;
        margin-left: 11px;
        margin-top: -2px;
      }
    }
  }
  &__plus {
    margin: 5px 0;
  }
  &__burned {
    margin: 50px 0 25px;
    img {
      width: 32px;
      margin-top: -2px;
      margin-right: 3px;
    }
    & > span {
      margin-bottom: 10px;
      display: block;
    }
    span + div {
      padding-top: 3px;
    }
  }
  &__price {
    &__item {
      & + & {
        margin-top: 18px;
      }
    }
  }
  &__btn {
    width: 100%;
    margin-top: 30px;
  }
}
