@import 'src/styles/index';

.trade__nav {
  margin: 0 auto;
  padding: 5px 8px;

  width: 100%;
  max-width: 420px;

  background: $bg-dop;

  @include b(mobile) {
    max-width: calc(100% - 20px);
  }

  &-item {
    padding: 12px;

    display: block;

    width: 100%;

    text-align: center;

    border-radius: 12px;

    &.active {
      background: $accent-gradient;
    }
  }
}
