@import 'src/styles/index';

.trade__nav {
  margin: 0 auto;
  padding: 5px 8px;

  width: 100%;
  min-width: 420px;
  max-width: 420px;

  background: #fff;

  @include b(mobile) {
    min-width: 100vw;
  }

  &-item {
    padding: 13px 0 14px;

    display: block;

    width: 100%;

    text-align: center;

    border-radius: 12px;

    &.active {
      color: $black;
      background: $yellow;
    }
  }
}
