@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.trade__nav {
  margin: 0 auto;
  padding: 6px;

  width: 100%;
  max-width: 420px;

  background: $bg-trade-box;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);

  @include b(mobile) {
    max-width: calc(100% - 20px);
  }

  &-item {
    margin-right: 6px;
    padding: 12px;

    display: block;

    width: 100%;

    text-align: center;

    background: #170f39;

    border-radius: 10px;

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      background: #0a42ea;
      box-shadow: 0 5px 0 #223687;
    }
  }
}
