@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.exchange {
  padding: 30px;

  min-width: 400px;

  background: $bg-trade-box;
  border-radius: 12px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);

  @include b(mobile) {
    min-width: 100%;
  }

  @include b(extramobile) {
    padding: 20px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__box {
    &-top {
      margin-bottom: 30px;
      padding-bottom: 30px;

      border-bottom: 1px solid #e0e0e0;
    }
  }

  &__btn {
    margin-top: 30px;

    width: 100%;
  }
}
