@import 'src/styles/index.scss';

.currency-info {
  &__body {
    width: 100%;

    &-currencies {
      @include flexbox(flex-start, center, row, 5px);
      margin-bottom: 14.5px;

      &-icon {
        @include flexbox;

        & svg,
        & img {
          width: 32px;

          &:not(:last-child) {
            margin-right: 3px;
          }
        }
      }

      &-names {
        @include flexbox(space-evenly, center);

        &__text {
          display: inline-flex;
          align-items: center;

          &:not(:last-child) {
            margin-right: 2px;
          }
        }
      }

      &__swap {
        background: transparent;
        appearance: none;

        border: 0 solid transparent;

        & svg {
          color: $black;

          transition: 0.3s linear;

          &:hover {
            color: $orange;
          }
        }
      }

      &-statistic {
        @include flexbox(flex-start, flex-start, row, 5px, wrap);
        margin-bottom: 5px;

        &__price {
          &-symbols {
            display: inline-flex;
            align-items: center;
          }

          &-shift {
            display: inline-flex;
            align-items: center;

            &.green {
              color: $green;
            }

            &.red {
              color: $red;
            }
          }
        }

        &__date {
          font-family: 'Poppins', sans-serif;
          line-height: 24px;

          color: $text-main-color;
          opacity: 0.6;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .currency-info {
    &__body {
      &-currencies {
        &-statistic {
          margin-bottom: 10px;

          //flex-direction: column;
          //gap: 5px;
        }
      }
    }
  }
}
