@import '../../config/config.scss';

.popups{
    position: fixed;
    top: 16px;
    right: 16px;
    @include _900{
        position: fixed;
        width: 90%;
        top: auto;
        bottom: 10px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}