@import '../../../config/config';

.transaction-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $transaction_status_mb;
  color: $transaction_status_text_color;
  &__status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__circle {
    width: $transaction_status_circle_width;
    height: $transaction_status_circle_height;
    margin-right: $transaction_status_circle_mr;
    border-radius: $transaction_status_circle_border_radius;
    &_pending {
      background: $transaction_status_circle_pending_background;
    }
    &_complete {
      background: $transaction_status_circle_complete_background;
    }
  }
  &__text {
    display: flex;
    flex-direction: row;
    font-size: $transaction_status_text_size;
    align-items: flex-end;
  }
  &__date {
    font-size: $transaction_status_date_size;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &__time {

  }
  &__link {
    cursor: pointer;
    margin-left: $transaction_status_link_ml;
  }
  &__img {
    margin-right: 5px;
    height: $transaction_status_img_height;
  }
}
